<h1> Dragon Ball Z </h1>
<hr>

<div class="row">
    <div class="col">
        <h3>Personajes</h3>
        <hr>
        <ul>
            <li *ngFor="let c of characters">
                {{ c.name }} - {{ c.power | number }}
            </li>
        </ul>
    </div>
    <div class="col">
        <h3>Agregar <small>{{ character.name }}</small></h3>
        <hr>
        <form (ngSubmit)="add( )">
            <input 
                type="text" 
                placeholder="Name"
                name="name"
                [(ngModel)]="character.name"
                />
            <input 
                type="number" 
                placeholder="Power"
                name="power"
                [(ngModel)]="character.power"
            />
            <button type="submit">Add</button>
        </form>
    </div>
</div>